/*
font-family: 'Montserrat', sans-serif;
font-family: 'Roboto', sans-serif;

*/

body {
  margin: 0;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 70%;
  margin: 100px auto 0 auto;
  /*margin: 100px 250px 0;*/
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/*** Header ***/

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 650px;
  width: 100%;
  font-family: "Montserrat", sans-serif;
}

header h1 {
  font-size: 82px;
  font-weight: 700;
  margin: 0;
}

header p {
  font-size: 28px;
  font-weight: 400;
  margin-bottom: 0;
}

header p:nth-child(3){
  font-size: 50px;
  margin-top: 0;
  font-weight: 700;
}

.header-text-box {
 margin-left: 0;
}

.hero-image {
  position: absolute;
  z-index: -1;
  object-fit: cover;
}

.hero-image img {
  width: 100%;
  max-width: 1950px;
  height: 650px;
  object-fit: cover;
}

.profile-picture {
  width: 270px;
  height: 270px;
  border-radius: 50%;
  border: white 3px solid;
}

.picture-container {
  margin: 400px 0 0 220px;
}

.main-header-container {
  display: flex;
  align-items: center;
  width: 70%;
  /*margin: 0 250px 0 250px; */
}

/*** summary & tech***/

.summary-container, .tech-container {
  display: flex;
  font-family: "Montserrat", sans-serif;
}

.summary-container p, .tech-container p{
  font-size: 30px;
}

.tech-container p {
 text-align: center;
}

.tech-container h2, .featured-projects-container h2 {
  font-family: "Montserrat", sans-serif;
  /*font-weight: 700;*/
  background: tomato;
  text-align: center;
  width: fit-content;
}

.span-container {
  display: inline-flex;
  align-items: center;
  vertical-align: top;
}

.line {
  background: tomato;
  height: 4px;
  width: 80px;
}

.circle {
  background: tomato;
  height: 20px;
  width: 20px;
  border-radius: 50%;
}


/*** projects ***/

.project-img {
  width: 100%;
  height: 300px;
  object-fit: cover;
}

.project-card-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: lightyellow;
}

.project-card {
  display: flex;
  flex-direction: column;
  width: 47%;
  background-color: grey;

}

.image-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

h4 {
  position: absolute;
}

.tags {
  display: flex;
}

.tags p {
  margin-right: 3px;
  background: tomato;
}