body {
  margin: 0;
  color: #000;
}

* {
  box-sizing: border-box;
}

*:focus {
  outline: #5f8a9a 1px dotted;
  outline-offset: 7px;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin: 0px;
}

/*width of content*/
.card, .main-header-container, .other-projects-container, .more-thoughts-container, 
.skills-list-container, .for-more-icons-container {
  width: 65%;
}

/*a container for the basic structure of the card*/
.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 100px;
  margin-top: 100px;
}

ul {
  list-style: none;
  margin-left: 0;
  padding-left: 0;
}

a {
  text-decoration: none;
  cursor: pointer;
}

a:visited {
  text-decoration: none;
  color: black;
}

ul a:hover, ul a:focus {
  font-weight: bold;
}

a:focus{
  outline: #5f8a9a 1px dotted;
  outline-offset: 7px;
}

/*** Headings ***/

h1 {
  font-size: 25px;
  font-weight: 400;
  margin-bottom: 0;
}

h2, .desktop-h2, .phone-h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 38px;
  background: #5f8a9a;
  text-align: center;
  display: inline-flex;
  color: #FFF;
  padding: 6px;
  margin-top: 0;
  margin-bottom: 50px
}

h3 {
  text-align: center;
  font-family: "Montserrat", sans-serif;
  color: #5f8a9a;
  font-size: 35px;
  margin-bottom: 50px;
}

h5 {
  font-family: "Roboto", sans-serif;
  font-size: 25px;
  color: #5f8a9a;
}

/*** Header ***/

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 700px;
  width: 100%;
  font-family: "Montserrat", sans-serif;
}

header p {
  font-size: 72px;
  font-weight: 700;
  margin: 0;
}

header p:last-child{
  font-size: 40px;
  margin-top: 0;
  font-weight: 700;
}

.header-text-box {
 margin-left: 0;
 width: 500px;
 display: flex;
 flex-direction: column;
 align-self: flex-start;
 color: #FFF;
}

.bold-text, .colored-bold-text{
  font-weight: 700;
}

.hero-image {
  position: absolute;
  z-index: -1;
  object-fit: cover;
}

.hero-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.profile-picture {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  border: white 3px solid;
  object-fit: cover;
}

.main-header-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
}

.icon-container {
  display: flex;
  justify-content: flex-end;
  margin-right: 0;
  margin-top: 100px;
}

.icon {
  width: 80px;
  height: 80px;
  border: white solid 3px;
  border-radius: 50%;
  margin-right: 0;
  margin-left: 10px;
}

.icon-image {
  padding: 20px;
}

.icon:hover {
  background: #5f8a9a;
  transition: 0.5s;
}

/*** summary & tech***/
.summary-container {
  background: whitesmoke;
}

.summary-container div {
  margin-top: 100px;
}

.summary-container, .tech-container {
  display: flex;
  font-family: "Montserrat", sans-serif;
}

.summary-container p, .tech-container p{
  font-size: 30px;
}

.tech-container p {
 text-align: center;
 color: black;
}

.line {
  display: inline-flex;
  justify-content: center;
  background: #5f8a9a;
  height: 4px;
  width: 80px;
  margin-bottom: 8px;
}

.circle {
  display: inline-flex;
  background: #5f8a9a;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  margin-right: 20px;
}

.colored-text, .colored-text-underline, .colored-bold-text {
  color: #5f8a9a;
}

.colored-text-underline {
  text-decoration: underline;
}

/*** projects ***/
.all-projects-container {
  background-color: whitesmoke;
}

.project-img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  opacity: 0.38;
}

.project-card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: baseline;
}

.project-card-container a, .other-projects-list a {
  color: #000;
}

.project-card:first-child {
  margin-top: 0;
} 

.project-content, .project-content-hidden {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  width: 47%;
}

.image-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(90 90 90 / 50%);
}

.image-container:hover {
  background: rgba(90 90 90 / 70%);
  transition: .4s ease;
}

.image-container h4 {
  position: absolute;
  font-family: "Montserrat", sans-serif;
  font-size: 28px;
  color: #FFF; 
}

.tags {
  display: flex;
}

.tags p {
  margin-right: 3px;
  background: #d59c89;
  color: white;
  font-family: "Roboto", sans-serif;
  padding: 4px;
}

ul a, .project-description {
  font-family: "Roboto", sans-serif;
  font-size: 25px;
}

.other-projects-container, .more-thoughts-container {
  padding-bottom: 100px;
}

.other-projects-list a , .more-thoughts-list a {
  text-decoration: underline;
}

/*** my thoughts ***/

.card-container {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.card-container a {
  color: black;
  }

.thoughts-post, .thoughts-post-hidden{
  display: flex;
  flex-direction: column;
  width: 47%;
  font-family: "Roboto", sans-serif;
}

.thoughts-post h4, .thoughts-post-hidden h4{
  font-size: 30px;
  margin: 0;
}

.thoughts-img {
  object-fit: cover;
  width: 100%;
  height: 350px;
}

.image-wrapper:hover {
  opacity: 0.7;
  transition: .4s ease;
}

.more-thoughts-list li{
  margin-bottom: 25px;
}

.more-thoughts-list a{
  color: black;
}

.li-hidden-desktop{
  display: none;
}

.phone-h2 {
  display: none;
}
/*** skills ***/

.skills-container {
  background: whitesmoke;
}

.skills-list-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.skills-list {
  width: 30%;
  text-align: center;
}

.skills-list li {
  font-size: 25px;
  font-family: "Roboto", sans-serif;
  font-weight: 400px;
}

/*** for more ***/
.for-more-container, .skills-container {
  padding-top: 100px;
  padding-bottom: 100px;
}

.for-more-icons-container {
  display: flex;
  justify-content: center;
}

.big-icon-container {
  margin: 20px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.big-icon {
  display: flex;
  justify-content: center;
  width: 160px;
  height: 160px;
  border: 4px solid #5f8a9a;
  border-radius: 50%;
}

.big-icon:hover {
  background: whitesmoke;
  transition: 0.5s;
}

.big-icon-image {
  width: 60%;
  padding: 20px;
}

.big-icon-container h5 {
  text-align: center;
  width: 200px;
}

/*** footer ***/

footer {
  background: #111;
  font-family: "Montserrat", sans-serif;
  text-align: center;
  width: 100%;
}

footer h3 {
  color: #FFF;
}

footer p {
  font-size: 30px;
  margin: 10px;
  color: #FFF;
}

footer section {
  padding-top: 100px;
  padding-bottom: 200px;
}

/** phone **/
@media (max-width: 666px) {
  
  .card, .main-header-container, .other-projects-container, .more-thoughts-container, 
  .skills-list-container, .for-more-icons-container {
  width: 80%;
  }

  .card {
    margin-bottom: 60px;
    margin-top: 60px;
  }

  /** headings **/

  h1 {
    font-size: 13px;
  }

  h2, .phone-h2 {
    font-size: 22px;
  }

  h3 {
    font-size: 21px;
  }

  p, h5 {
    font-size: 17px;
  }
  
  /** header **/

  header {
    height: 470px;
  }

  .main-header-container{
    margin-top: 0;
    position: absolute;
  }

  header p {
    font-size: 40px;
  }
  
  header p:last-child{
    font-size: 24px;
  }

  .header-text-box {
    width: 250px;
    margin-top: 30px;
  }

  .icon-container {
    margin-top: 100px
  }

  .icon {
    display: flex;
    align-items: center;
    width: 39px;
    height: 39px;
    border: white solid 3px;
    border-radius: 50%;
    margin-right: 0;
    margin-left: 10px;
  }
  
  .icon-image {
    width: 30px;
    height: 30px;
    padding: 5px;
  }

  .profile-picture {
    width: 200px;
    height: 200px;
    position: relative;
  }

  /** summary & tech **/
  .summary-container p, .tech-container p {
    font-size: 17px;
  }

  .summary-container {
    margin-top: 0;
  }

  .summary-container div {
    margin-top: 58px;
  }

  .line {
    height: 2px;
    width: 30px;
    margin-bottom: 4px;
  }
  
  .circle {
    height: 10px;
    width: 10px;
    margin-right: 15px;
  }

  /** project **/
  .project-card-container{
    justify-content: center;
  }

  .project-content {
    width: 100%;
  }

  .project-content-hidden {
    display: none;
  }

  .project-img {
    width: 100%;
    height: 250px;
    object-fit: cover;
  }

  .image-container h4 {
    font-size: 17px;
  }

  ul a, .project-description {
    font-size: 17px;
  }

  .other-projects-list a , .more-thoughts-list a{
    text-decoration: none;
  }

  .other-projects-container, .more-thoughts-container {
    padding-bottom: 60px;
  }

  /** my thoughts **/
  .card-container {
    justify-content: center;
    flex-wrap: wrap;
  }

  .thoughts-img {
    height: 250px;
  }
  
  .thoughts-post {
    width: 100%;
  }

  .thoughts-post-hidden, .desktop-h2 {
    display: none;
  }

  .phone-h2 {
    display: inline;
  }

  .li-hidden-desktop {
    display: block;
  }

  /** skills **/

  .skills-list {
    width: 45%;
  }

  .skills-list li {
    font-size: 17px;
  }
   
  .for-more-container, .skills-container {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  /** for more **/


  .big-icon {
    width: 58px;
    height: 58px;
  }

  .big-icon-container{
    margin: 0;
  }

  .big-icon-container h5 {
    font-size: 12px;
    width: 100px;
  }

  .big-icon-image {
    width: 60%;
    padding: 5px;
  }

  /** footer **/

  footer p {
    font-size: 17px;
  }
}

/** tablet **/
@media (min-width: 667px) and (max-width: 1024px) {

  .card, .main-header-container, .other-projects-container, .more-thoughts-container, 
  .skills-list-container, .for-more-icons-container {
  width: 80%;
  }

  .card {
    width: 80%;
  }

  header {
    height: 800px;
  }

  .header-text-box {
    margin-top: 50px;
  }

  .profile-picture {
    width: 300px;
    height: 300px;
    margin-top: 40px;
    margin-right: 5px;
  }

}