/*
font-family: 'Montserrat', sans-serif;
font-family: 'Roboto', sans-serif;

*/

body {
  margin: 0;
}

* {
  box-sizing: border-box;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin: 100px auto 0 auto;
}

.card {
  display: flex;
  flex-direction: column;
  width: 65%;
  align-items: center;
}

/*** Headings ***/

h1 {
  font-size: 82px;
  font-weight: 700;
  margin: 0;
}

h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 48px;
  background: tomato;
  text-align: center;
  display: inline-flex;
}

h3 {
  text-align: center;
  font-family: "Montserrat", sans-serif;
  color: tomato;
  font-size: 38px;
}

h5 {
  font-family: "Roboto", sans-serif;
  font-size: 25px;
  color: tomato;
}

/*** Header ***/

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 650px;
  width: 100%;
  font-family: "Montserrat", sans-serif;
}

header p {
  font-size: 28px;
  font-weight: 400;
  margin-bottom: 0;
}

header p:nth-child(3){
  font-size: 50px;
  margin-top: 0;
  font-weight: 700;
}

.header-text-box {
 margin-left: 0;
 width: 450px;
 display: flex;
 flex-direction: column;
 align-self: flex-start;
}

.hero-image {
  position: absolute;
  z-index: -1;
  object-fit: cover;
}

.hero-image img {
  width: 100%;
  /*max-width: 1950px;*/
  height: 100%;
  object-fit: cover;
}

.profile-picture {
  width: 270px;
  height: 270px;
  border-radius: 50%;
  border: white 3px solid;
  margin-top: -100px;
}

.main-header-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
  width: 65%;
}

.icon-container {
  display: flex;
  justify-content: flex-end;
  margin-right: 0;
  margin-top: 200px;
}

.icon {
  width: 80px;
  height: 80px;
  border: white solid 3px;
  border-radius: 50%;
  margin-right: 0;
  margin-left: 10px;
}

.icon-image {
  padding: 20px;
}

/*** summary & tech***/
.summary-container {
  background: thistle;
}

.summary-container div {
  margin-top: 100px;
}

.summary-container, .tech-container {
  display: flex;
  font-family: "Montserrat", sans-serif;
}

.summary-container p, .tech-container p{
  font-size: 30px;
}

.tech-container p {
 text-align: center;
}

.line {
  display: inline-flex;
  justify-content: center;
  background: tomato;
  height: 4px;
  width: 80px;
  margin-bottom: 8px;
}

.circle {
  display: inline-flex;
  
  background: tomato;
  height: 20px;
  width: 20px;
  border-radius: 50%;
}

.colored-text {
  color: tomato;
}

/*** projects ***/
.all-projects-container {
  background-color: thistle;
}

.project-img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  opacity: 0.38;
}

.project-card-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: lightyellow;
}

.project-card {
  display: flex;
  flex-direction: column;
  width: 47%;
  background-color: grey;

}

.image-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.image-container h4 {
  position: absolute;
  font-family: "Montserrat", sans-serif;
  font-size: 28px;
}

.tags {
  display: flex;
}

.tags p {
  margin-right: 3px;
  background: tomato;
}

ul a, .project-description {
  font-family: "Roboto", sans-serif;
  font-size: 25px;
}

.other-projects-container, .more-thoughts-container {
  width: 65%;
}

.other-projects-list {
  margin-left: 0;
}

/*** my thoughts ***/

.card-container {
  display: flex;
  justify-content: space-between;
}

.thoughts-post {
  display: flex;
  flex-direction: column;
  width: 45%;
  font-family: "Roboto", sans-serif;
}

.thoughts-post h4 {
 font-size: 30px;
 margin: 0;
}



/*** skills ***/

.skills-container {
  background: thistle;
}

.list-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.skills-list {
  width: 30%;
}

.skills-list li {
  font-size: 25px;
  font-family: "Roboto", sans-serif;
  font-weight: 400px;
}

/*** for more ***/

.for-more-container {
  background: wheat;
}

.for-more-icons-container {
  display: flex;
}

.big-icon-container {
  margin: 20px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.big-icon {
  display: flex;
  justify-content: center;
  width: 160px;
  height: 160px;
  border: 4px solid white;
  border-radius: 50%;
}

.big-icon-image {
  width: 60%;
  padding: 20px;
}

/*** footer ***/

footer {
  background: lightslategrey;
  font-family: "Montserrat", sans-serif;
  text-align: center;
  width: 100%;
}

footer h3 {
  color: #000;
}

footer p {
  font-size: 30px;
  margin: 10px;
}

footer section {
  padding-top: 100px;
  padding-bottom: 250px;
}

@media (max-width: 666px) {
  
  .card {
    width: 80%;
  }

  /** headings **/

  h1 {
    font-size: 40px;
  }

  h2 {
    font-size: 22px;
  }

  h3 {
    font-size: 21px;
  }

  p {
    font-size: 17px;
  }
  /** header **/

  header {
    height: 460px;
  }

  .main-header-container{
    margin-top: 0;
    width: 80%;
  }

  header p {
    font-size: 13px;
  }
  
  header p:nth-child(3){
    font-size: 24px;
  }

  .header-text-box {
    width: 200px;
  }

  .icon-container {
    margin-top: 50px
  }
  .icon {
    width: 39px;
    height: 39px;
    border: white solid 3px;
    border-radius: 50%;
    margin-right: 0;
    margin-left: 10px;
  }
  
  .icon-image {
    width: 30px;
    height: 30px;
    padding: 5px;
  }

  .profile-picture {
    width: 160px;
    height: 160px;
    margin-top: 30px;
    margin-right: 10px;
  }

  /** summary & tech **/
  .summary-container p, .tech-container p{
    font-size: 17px;
  }

  .summary-container {
    margin-top: 0;
  }

  .summary-container div {
    margin-top: 58px;
  }

  /** project **/
  .project-card-container{
    justify-content: center;
  }

  .project-card {
    width: 100%;
  }

  .project-img {
    width: 300px;
    height: 180px;
    object-fit: cover;
  }

  .image-container h4 {
    font-size: 17px;
  }

  ul a, .project-description {
    font-size: 17px;
  }

  /** my thoughts **/
  .card-container {
    justify-content: center;
    flex-wrap: wrap;
  }
  
  .thoughts-post {
    width: 100%;
  }
  /** skills **/

  .skills-list {
    width: 45%;
  }

  .skills-list li {
    font-size: 17px;
  }
   
  /** for more **/

  .for-more-icons-container {
    width: 80%;
  }

  .big-icon {
    width: 58px;
    height: 58px;
  }

  .big-icon-container h5 {
    font-size: 12px;
  }

  .big-icon-image {
    width: 60%;
    padding: 5px;
  }

  /** footer **/

  footer section {
    width: 60%;
  }

  footer p {
    font-size: 17px;
  }
}

@media (min-width: 667px) and (max-width: 1024px) {

}